modelscope>=1.9.0
torch>=1.13.0


wired_table_rec>=1.2.0
lineless_table_rec>=0.1.0
table_cls>=1.2.0

python-dotenv>=1.0.0
requests>=2.28.0

shapely>=2.0.0
numpy>=1.21.0
opencv-python>=4.5.0
beautifulsoup4>=4.12.0
